

/* ./src/app/globals.css */

@import "tailwindcss";
/* Or the standard v3 syntax:
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

/* Any other global styles go below here */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}
